<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "yihd2isfo0");

const clarityConsent = localStorage.getItem('diamond-dust-analytics-consent');

window.clarity('consentv2', {
    ad_Storage: 'denied',
    analytics_Storage: clarityConsent === 'granted' ? 'granted' : 'denied'
});
</script>